<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>HTTP2 Server Push Example</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    HTTP2 Server Push Example
    <div>
    <img src="/images/Octocat.png" alt="Octocat">

    <img src="/images/Octocat2.png" alt="Octocat">

    <img src="/images/Octocat3.png" alt="Octocat">

    <img src="/images/Octocat4.png" alt="Octocat">

    <img src="/images/Octocat5.png" alt="Octocat">

    <img src="/images/Octocat6.png" alt="Octocat">
    </div>
</body>
</html>
